body {
    background-color: #ffecfe;
}

h1 {
    min-width: 300px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, Arial;
}

.p-button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    background-color: #ffecfe;
    transition : 0.18s ;
    padding: 0;
    margin: 0;
}

.p-button:hover{
    background-color: #fcf0fb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.p-button:active{
    background-color: #ffd7e1;
}

.emojis {
    width: 50px;
}

.reset,
.auto-game {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #ffecfe;
    transition: 
        background-color 0.18s linear,
        opacity 0.05s linear;
    cursor: pointer;
}

.reset:hover{
    background-color: #fff8fe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.reset:active{
    opacity: 0.5;
}

.info-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.m {
    width: 0;
}

.n {
    width: 40px;
}

span {
    margin-right: 5px;
}

.score {
    background-color: #ffd1d1;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.choice-icon {
    width: 35px;
}

.button-container {
    background-color: #ffecfe;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    max-width: 420px;
}

.shrink {
    width: 100%;
    display: flex;
    min-width: 300px;
    justify-content: center;
}

.op-buttons {
    display: flex;
    width: 240px;
    justify-content: space-evenly;
}

.auto-game:hover{
    background-color: #fff8fe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.auto-game:active{
    opacity: 0.5;
}

.win{
    background-color: rgb(194, 255, 194);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100px;
}

.lose {
    background-color: rgb(255, 118, 118);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 100px;
}

.tie {
    background-color: rgb(255, 255, 162);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100px;
}  

